<div class="nav-bar fixed-top">
  <ul>
        <li class="nav-item">
                <%= link_to "OpenSea", "https://opensea.io/collection/w-club", class: "nav-link", target: '_blank' %>
        </li>

        <li class="nav-item">
            <%= link_to "Discord", "https://discord.com/invite/6KyYkuQSyW", class: "nav-link", target: '_blank' %>
        </li>

        <li class="nav-item">
            <%= link_to "Twitter", "https://twitter.com/thewclub_nft", class: "nav-link", target: '_blank' %>
        </li>
        
        <li class="nav-item">
            <%= link_to "Instagram", "https://www.instagram.com/thewclubnft/", class: "nav-link", target: '_blank'%>
        </li>
        
   </ul>

</div>

<div class="centered">
            <h1>
                The W club
                
            </h1>
    
    <p class="line center">
__   __    __
</p>

     <h2 class="typed-headline" id="typingHeadline"> </h2>

        <h3>
        No more than 8888 words will ever be minted. Everyday, new words are publicly released on OpenSea, at random times, at a fixed equal price of 0.002 ETH (no gas fee, stored on Polygon).
        </h3>

        <p class="center">
        They are available on a 'First-come-first-served' basis.
        </p>

    <div class="container">
          <div class="row">
    
            <div class="col-sm-8 col-md-6">
                <a href=" https://opensea.io/collection/w-club" target="_blank" class="btn btn-dark"> Acquire your Ws on OpenSea</a>
            </div>

            <div class="col-sm-4 col-md-6">
                <a href="https://discord.com/invite/6KyYkuQSyW" target="_blank" class="btn btn-dark ola">Join the Discord</a>
            </div>  

        </div>     
    </div>
    

</div>

<p class="line center">
__   __    __
</p>



<%# DEUXIEME PARTIE %>
    <p class="centered">
    Distribution: maximum supply of 8888 words.
    </p>
<br>
 <p class="centered"> - 1000 words are given away for free to the first 200 wembers (this is how W club members are called). </p>
   <div class="justify-left centered">
        = 5 Wnfts to each wember:
        <div class="margin-left">
        2 when entering the club
        <br>3rd one to be deposited on October 15th, 2021
        <br> 4th one to be deposited on December 15th, 2021
        <br> 5th one to be deposited on February 15th, 2022
        </div>
    </div>
    
        <br> 

                <p class="centered"> 
                - 1000 words are reserved to grow the project: reward active wembers, reward developers that grow the W ecosystem, attract new partners, host giveaways etc...
                </p> <br>

                <p class="centered"> 
                - 6888 words will be released at an equal fixed price of 0.002 ETH (no gas fee, stored on Polygon).
                </p><br>

                <p class="centered"> 
                Roadmap: The 8888 words will be minted and released everyday, at random times, from September 8th 2021 to April 14th 2022.
                </p><br>

</div>




<%# footer %>
<div class="footer">
    <div class="footer-copyright">
        Contact us on  <%= link_to "Twitter","https://twitter.com/thewclub_nft", class: "", target: '_blank' %> or  <%= link_to  "Discord", "https://discord.com/invite/6KyYkuQSyW", class: "", target: '_blank' %>
    </div>
</div>

<%# JAVASCRIPT %>
<script>
    var i = 0;
    var txt = 'The W club is just words. Make them yours.'; /* The text */
    var speed = 80; /* The speed/duration of the effect in milliseconds */
    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("typingHeadline").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        } 
    }
    typeWriter()
</script>

